body {
    padding-top: 56px;
}

.jumbotron {
    background-image: url(./images/header_img.jpeg);
    background-size: cover;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}

.card-img-top{
    height: 200px;
}

.card-img-screen{
    height: 200px;
    width: 100px !important;
}

.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}

#contact {
    background-color: rgb(245, 232, 217);
}